/* FONTS IMPORT AND SETTINGS */

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/HelveticaNeueCyr-LightItalic.otf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Roman.otf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/HelveticaNeueCyr-Italic.otf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Bold.otf");
}

.heading h2 {
    font-weight: bold;
    font-size: 3.428em;
    margin: 0.2em 0;
}

.heading h3 {
    font-weight: 200;
    font-style: italic;
    font-size: 2.142em;
    margin: 0 0 0 0.5em;
}

.section-title {
    font-weight: bold;
    font-size: 1.28em;
}

.sub-title,
.quality-title {
    font-weight: bold;
    font-size: 1.714em;
}

.sub-title + p {
    margin: -2.5em 0 1.5em 0;
    font-weight: 200;
}

.floated ul li {
    font-weight: 300;
    font-size: 1.28em;
}

.floated .square-styled-list li {
    font-style: italic;
    line-height: 2em;    
}

.black-heading h2 {
    font-weight: 200;
    font-size: 3.428em;
}

/**** TEXT STYLING ****/

#logo,
footer,
.heading,
.quality-title {
    text-align: center;
}

.section-title {
    width: 97%;
    background: #23e490;
    color: white;
    padding: 0.5em;
}

.section-text {
    padding: 2.5%;
    color: #2d2d2d;
    font-size: 1.2em;
    font-weight: normal;
}

.section-text a {
    display: inline-block;
    color: #2d2d2d;
    text-decoration: none;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

.section-text a::after {
    display: block;
    background: #2d2d2d;
    content: '';
    width: 0;
    margin: 0 auto;
    height: 2px;
    -webkit-transition: width .2s ease-in, background-color .2s ease-in;
    -moz-transition: width .2s ease-in, background-color .2s ease-in;
    -ms-transition: width .2s ease-in, background-color .2s ease-in;
    -o-transition: width .2s ease-in, background-color .2s ease-in;
    transition: width .2s ease-in, background-color .2s ease-in;
}

.floated ul, .contacts {
    list-style: none;
}

.floated .square-styled-list {
    padding: 0;
}

.floated .square-styled-list li::before {
    display: inline-block;
    margin-right: 1em;
    content: '';
    width: 0.5em;
    height: 1em;
    background: #2d2d2d;
    -webkit-transition: width .2s ease-in, background-color .2s ease;
    -moz-transition: width .2s ease-in, background-color .2s ease;
    -ms-transition: width .2s ease-in, background-color .2s ease;
    -o-transition: width .2s ease-in, background-color .2s ease;
    transition: width .2s ease-in, background-color .2s ease;
}

.quality-title {
    position: absolute;
    left: 7.5%;
    bottom: 0;
    width: 85%;
    padding: 0.25em;
    margin: 0;
    background: #3e9a72;
    color: #fff;
    border-radius: 0.5em;
}

.black-heading h2 {
    margin: 0 0 0.5em;
    padding: 0 .75em;
    display: inline-block;
    position: relative;
    left: -1em;
    background: #2d2d2d;
    color: #fff;
}

/**** LAYOUT ****/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    background: #edeff0;
    width: 100%;
}

header {
    width: 100%;
    height: 75px;
    background: #161616;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#logo {
    width: 960px;
    height: 75px;
    margin: 0 auto;
    padding: 5px 0;
}

#logo img {
    height: 100%;
}

#logo img, .infobox {
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}

main {
    /* padding: 2%; */
    width: 960px;
    margin: 75px auto;
    background: #fff;
}

#qualities,
#experience {
    padding: 3%;
}

#container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 625px;
}

#main-info {
    display: none;
    overflow: hidden;
    position: relative;
    height: 10%;
    width: 0;
    -webkit-transition: width .2s ease-out, height .3s ease-in .2s;
    -moz-transition: width .2s ease-out, height .3s ease-in .2s;
    -ms-transition: width .2s ease-out, height .3s ease-in .2s;
    -o-transition: width .2s ease-out, height .3s ease-in .2s;
    transition: width .2s ease-out, height .3s ease-in .2s;
}

.infobox {
    padding: 5%;
    width: 90%;
    height: 87.5%;
    position: absolute;
    top: 6.25%;
    left: 5%;
    background: #fff;
    z-index: 10;
}

.square {
    width: 10em;
    height: 10em;
    background: #23e490;
    position: absolute;
}

#sq1 {
    top: 0;
    left: 0;
}

#sq2 {
    top: 0;
    right: 0;
}

#sq3 {
    bottom: 0;
    left: 0;
}

#sq4 {
    bottom: 0;
    right: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.floated {
    float: left;
}

#main-info .floated,
#experience .floated {
    width: 50%;
}

#qualities .floated {
    position: relative;
    width: calc(100% / 3);
    padding: 2%;
}

.img-container {
    min-height: 100px;
    background: #23e490;
    border-radius: 50%;
    filter: grayscale(0.5);
    -ms-filter: grayscale(0.5);
    -moz-filter: grayscale(0.5);
    -webkit-filter: grayscale(0.5);
    -webkit-transition: filter .3s ease;
    -moz-transition: filter .3s ease;
    -ms-transition: filter .3s ease;
    -o-transition: filter .3s ease;
    transition: filter .3s ease;
}

.img-container img {
    width: 100%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
}

.img-container img[alt="rocket-icon"] {
    -webkit-transform: scale(0.75) rotate(30deg);
    -moz-transform: scale(0.75) rotate(30deg);
    -ms-transform: scale(0.75) rotate(30deg);
    -o-transform: scale(0.75) rotate(30deg);
    transform: scale(0.75) rotate(30deg);
}

footer {
    width: 100%;
    height: 75px;
    padding: 0.5em;
    background: #161616;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

footer p {
    font-size: 1.3em;
    color: #444;
}

.contacts {
    position: fixed;
    right: 1em;
    top: 30%;
    z-index: 500;
}

.contacts li a img {
    width: 3.5em;
    height: 3.5em;
    margin-bottom: .5em;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
}

/**** TRANSITIONS ****/

#logo img:hover, .infobox:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.img-container:hover {
    filter: none;
    -ms-filter: none;
    -moz-filter: none;
    -webkit-filter: none;
}

.contacts li a img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.section-text a:hover {
    color: #23e490;
}

.section-text a:hover::after {
    width: 100%;
    background-color: #23e490;
}

.floated .square-styled-list li:hover::before {
   width: 1em;
   background-color: #23e490;
}